*{
  margin: 0;
  padding: 0;
}
body {
	background-color: #FFA07A;
  background-image: url("lightsalmon.png");
	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calendar-container {
	position: relative;
	width: 450px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #DC143C;
	color: #fff;
	padding: 3em 2em;
}

#year {
	font-size: 8em;
	font-weight: 500;
	line-height: 1em;
}

#month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: white;
	border-radius: 0 0 7em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color:  #555;
	display: inline-block;
	padding: 1.8em;
}

.calendar thead {
	color: #DC143C;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;

}

.next_month {
	color: #cacaca;
}

.ring_left,
.ring_right {
	position: absolute;
	top: 230px;
}

.ring_left { left: 2em; }
.ring_right { right: 2em; }

.ring_left:before,
.ring_left:after,
.ring_right:before,
.ring_right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}
